<div class="container">
  <div class="page-header">
    <h3>Stories For gCamp</h3>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Story</th>
        <th>Estimate</th>
        <th>Labels</th>
        <th>Current State</th>
        <th colspan="4">
        </th>
      </tr>
    </thead>

    <tbody>
      <% @tracker_stories.each do |story| %>
      <tr>
        <!-- /n/projects/1183306/stories/84170122 -->
        <th><%= link_to story[:name], "https://www.pivotaltracker.com/n/projects/#{params[:id]}/stories/#{story[:id]}" %></th>
        <th><%= story[:estimate] %></th>
        <th><%= story[:labels].map{ |label| label[:name]}.join(" ,") %></th>
        <th><%= story[:current_state] %></th>
      </tr>
<% end %>

    </tbody>
  </table>
</div>
