<div class="container">
  <div class="page-header">
    <h3>Stories For gCamp</h3>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Story</th>
        <th>Estimate</th>
        <th>Labels</th>
        <th>Current State</th>
        <th colspan="4">
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>


    </tbody>
  </table>
</div>
