
<div class="container">

    <h3>Edit Task</h3>

    <div class="row">
      <%= render 'form' %>

      <div class="col-sm-offset-2 col-sm-10">
        <%= link_to 'Show', project_task_path %> |
        <%= link_to 'Back', project_tasks_path %>
      </div>
    </div>

</div>
