<% if instance.errors.any? %>
    <div class="alert alert-danger">
      <p><strong><%= pluralize(instance.errors.count, "error") %>
         prohibited this task from being saved:</strong></p>

        <ul>
          <% instance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
    </div>
<% end %>
