<div class="container">
<div id="about_us">

<h1>About</h1>

<br><br>

<p>Get organized and increase productivity with your team.<p>
  <%= image_tag "meeting.png", width: 470, height: 350 %>

</div>
</div>
