<div class = "container">
<div class = "page-header">

  <%= link_to "Create Project", new_project_path, class: 'btn btn-primary pull-right' %>
    <h3>Projects</h3>
  </div>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
<tbody>
<tr>
    <% @projects.each do |project| %>
    <td><%= link_to project.name, project_path(project) %></td>
  </tr>
    <% end %>

  </tbody>
</table>

</div>

</div>
