
<div class = "container">
<div class = "page-header">
  <div class="pull-right">

  <p id="notice"><%= notice %></p>
  <%= link_to 'Destroy', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
  <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info pull-right'  %>

</div>
  <h3><%= @project.name %></h3>

</div>
</div>
