
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  /*background-color: #C3C3C6;*/
  padding-top: 65px;
  }

.wrapper {
  background-color: white;
}


h1 {
  color: black;
  font-size: 55px;
  /*margin-top: 10px;*/
  /*bottom-padding: 10px;*/
}

.navbar-header {
  color: black;
  }

/*.navbar  {
  background-color: orange;
  font-color: black;
}
*/

.jumbotron {
  background-color: #D8D8DC;
  padding: 10px;
  margin-top: 35px;
  border: 1px solid black;
  }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: black;
}

.panel-body {
  min-height: 100px;
}


.about_us {
  text-align: center;
  background-color: white;
}

.terms {
  text-align: left;
  background-color: white;
}

.faq {
  text-align: left;
}

.freqheader {
  text-align: left;
}

.freqquestion {
  font-weight: bold;
}

.freqanswer {
  font-style: italic;
}

.quotetext {
  font-weight: bold;
}

.quoteanswer {
  font-weight: italic;
  font-color: gray;
}

.content {
  width:auto;
  height: auto;
  background-color: white;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: -15px;
}

.panel panel-default {
  border: none;
}

.thumbnail {
  border: none;
}

.panel panel-default {
  border: none;
}

.panel-heading {
  background-color: #99CCFF;
}

.authors {
  font-color: gray;
}


/*
.col-md-4_taskbtn {
  float: right !important;

  }

  .pull-right {
  float: right !important;
}

.taskbtn_pull-right {
  float: right !important;
}
*/

/*
#wrapper {
  width: 760px;
  margin: 15px auto 0 auto;
  background-color: gray;
  text-align: left;
  border: 1px solid black;

}
*/

/*
<%= link_to "gCamp", root_path, id: "gCamp" %>
*/

/*
h2 {
  background-color: #99CCFF;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  width: 275px;
  }

.col-md-4 {
  border: 1px solid black;
  padding: 15px;
  height: auto;
  width: auto;
}
img {
  padding:2px;
}
*/


/*
  .containter {
    color: black;
  }

  .navbar-brand {
    color: #000000;

  }
*/

/*
  .panel-body {
    margin-left: 5px 5px 5px 5px;
  }

*/

/*
.col-md-4-images {
  margin: none;
  height: 200px;
  width: 250px;
  }

/*
.col-md-4 {

  }

  /*
  .panel-heading {
    background-color: blue;
  }

  /*
  .footer-header {
    border-top: 2px solid gray;
  }

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/
