/*$body-bg: #000000;*/


@import "bootstrap-sprockets";
@import "bootstrap";

/*
h2 {
  background-color: #99CCFF;
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  width: 275px;
  }

.col-md-4 {
  border: 1px solid black;
  padding: 15px;
  height: auto;
  width: auto;
}
img {
  padding:2px;
}
*/


body {
  padding-top: 55px;
  }


h1 {
  color: black;
  font-size: 55px;
  margin-top: 10px;
  bottom-padding: 10px;
}


/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}


.navbar-header {
  color: black;
  }

.navbar  {
  background-color: orange;
  font-color: black;
}

.jumbotron {
  background-color: #D8D8DC;
  padding: 20px;
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 75px;
  margin-bottom: 50px;
  border: 1px solid black;
  }

  .containter {
    color: black;
  }

  .navbar-brand {
    color: #000000;

  }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
color: black;
}

.panel-body {
  min-height: 100px;
}

#about_us {
  text-align: center;
  padding-bottom: 35px;
}

#terms {
  text-align: left;
  padding-left: 40px;
  padding-bottom: 400px;
}


.panel-heading {
  background-color: blue;
}

.footer-header {
  border-top: 2px solid gray;
}


/*
  .panel-body {
    margin-left: 5px 5px 5px 5px;
  }

*/

/*
.col-md-4-images {
  margin: none;
  height: 200px;
  width: 250px;
  }

/*
.col-md-4 {

  }

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
