
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  /*background-color: #C3C3C6;*/
  padding-top: 65px;
  }

.wrapper {
  background-color: white;
}


h1 {
  color: black;
  font-size: 55px;
  /*margin-top: 10px;*/
  /*bottom-padding: 10px;*/
}

.navbar-header {
  color: black;
  }

.jumbotron {
  background-color: #D8D8DC;
  padding: 10px;
  margin-top: 35px;
  border: 1px solid black;
  }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: black;
}

.panel-body {
  min-height: 100px;
}

.terms {
  text-align: left;
  background-color: white;
}

.faq {
  text-align: left;
}

.freqheader {
  text-align: left;
}

.freqquestion {
  font-weight: bold;
}

.freqanswer {
  font-style: italic;
}

.quotetext {
  font-weight: bold;
}

.quoteanswer {
  font-weight: italic;
  font-color: gray;
}

.content {
  width:auto;
  height: auto;
  background-color: white;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: -15px;
}

.panel panel-default {
  border: none;
}


.panel panel-default {
  border: none;
}

.panel-heading {
  background-color: #99CCFF;
}

.authors {
  font-color: gray;
}

#task_complete {
  position: relative;
  margin-left: 0;
  display: inline-block;
}

.checkbox label {
  padding: 0;
}

.navbar-nav {
  padding-top: 15px;
}



/*.navbar  {
background-color: orange;
font-color: black;
}
*/

/*.thumbnail {
border: none;
}*/

/*.about_us {
text-align: center;
background-color: white;
}*/
